<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bookings usuario contacto@tuten.cl
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar datos...">
      </mat-form-field>
      <table mat-table [dataSource]="userBookingsList" matSort>

        <ng-container matColumnDef="bookingId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> BookingId </th>
          <td mat-cell *matCellDef="let booking"> {{booking.bookingId}} </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
          <td mat-cell *matCellDef="let booking">
            {{JSONParse(booking.bookingFields).firstName + ' ' + JSONParse(booking.bookingFields).lastName | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="bookingTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
          <td mat-cell *matCellDef="let booking"> {{booking.bookingTime | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="streetAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
          <td mat-cell *matCellDef="let booking"> {{JSONParse(booking.bookingFields).address}} </td>
        </ng-container>
        <ng-container matColumnDef="bookingPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
          <td mat-cell *matCellDef="let booking"> {{booking.bookingPrice | currency:'CLP':'symbol-narrow'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </ion-card-content>
  </ion-card>
</ion-content>