<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>Página de bienvenida</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación desarrolada para test técnico de entrada a Tuten.<br><br><br>
        Desarrollado por Cristóbal Félix Villa Rojas (cfvilla91@gmail.com)</p>
    </ion-card-content>
  </ion-card>

</ion-content>